.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 90%;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.notechic{
    display: flex; 
    flex-flow: row nowrap;
    width: 89%;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1024px){
        display: flex;
        flex-direction: column;
    }  
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    } 
} 
.delicepalette{
    display: flex;
    flex-flow: row nowrap;
    width: 89%;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1024px){
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
}
.note-block{
@include grid-size($background: $note-color);
margin-right: 1%;
}
.note{  
    @include menu-animation; 
        & i:before 
        {
            background: -webkit-linear-gradient(left, $icon-color,#f78f6a);
            @include gradient;
        }
        &__title
        {
           color: $note-color-text;
           font-family: Devonshire, Arial, Helvetica, sans-serif;
           font-weight: bold;
        }
        &__title2
        {
          @include home-menu-font;
          font-size: 1.5em;
        }
        &:hover
        {
          @include menu-zoom;
        }
     }
.chic-block
 { 
    @include grid-size($background: $section-background);
 }
.chic{
    @include menu-animation;
    &__title{   
            background: -webkit-linear-gradient(right, $chic-color-second, $chic-color-first);
            @include gradient;
            font-family: Lobster Two;
            font-weight: bold;
            }
    &__title2{
            @include home-menu-font($color:$chic-color-first);
            font-family: Lobster Two, Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.5em;
            }
    &:hover
            {   
            @include menu-zoom;
        }
    }
.delice-block 
    {  
      @include grid-size($background:$section-background);
      margin-right: 1%;
    }
.delice
{
    @include menu-animation;
    &__title
    {
        font-family: Parisienne, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bold;
        background: -webkit-linear-gradient(left, $chic-color-second, $second-delice-color);
        @include gradient;
      
    } 
    &__title2
    {
      @include home-menu-font($color:$second-delice-color);
      font-size: 1.5em;
    }
    &:hover
    {
      @include menu-zoom;
    }
}
.palette-block
   {
    @include grid-size($background:$section-background);
   }
.palette
{
    @include menu-animation;
    &__title{
        background: -webkit-linear-gradient(left, $palette-color, $section-background);
        font-family: Kaushan Script, Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        @include gradient;
    } 
    &__title2{ 
        @include home-menu-font($color:$palette-color);
        font-size: 1.5em;
    }
    &:hover{
        @include menu-zoom; 
    }
}