.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 90%;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.notechic{
    display: flex; 
    flex-direction: row;
    width: 100%;
    justify-content: center;
    @media screen and (min-width: 768px) and (max-width: 1024px){
        display: flex;
        flex-direction: column;
    }  
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    } 
} 
.delicepalette{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    @media screen and (min-width: 768px) and (max-width: 1024px){
        display: flex;
        flex-direction: column;
        flex-flow: nowrap;
    }
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
}
.note-block{
@include grid-size($background: $note-color);
}
.note{  
    @include menu-animation; 
        & i:before 
        {
            background-clip: text;
            background: -webkit-linear-gradient(left, #f04a5e, #f78f6a);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &__title
        {
           color:$note-color-text;
           font-family: Devonshire, Arial, Helvetica, sans-serif;
           font-weight: bold;
        }
        &__title2
        {
          @include home-menu-font;
        }
        &:hover
        {
          @include menu-zoom;
        }
     }
.chic-block
 { 
    @include grid-size($background:lighten($chic-color-second,65));
    width: $width;
 }
.chic{
    @include menu-animation;
    &__title{   
            background: -webkit-linear-gradient(right, $chic-color-first, $chic-color-second);
            @include gradient;
            font-family: Lobster Two;
            font-weight: bold;
            }
    &__title2{
            @include home-menu-font($color:$chic-color-first);
            font-family: Lobster Two, Verdana, Geneva, Tahoma, sans-serif;
            }
    &:hover
            {   
            @include menu-zoom;
        }
    }
.delice-block 
    {  
      @include grid-size($background:lighten($first-delice-color, 65));
      width: $width;
    }
.delice
{
    @include menu-animation;
    &__title
    {
        font-family: Parisienne, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bold;
        background: -webkit-linear-gradient(left, $chic-color-second, $second-delice-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    } 
    &__title2
    {
      @include home-menu-font($color:$second-delice-color)
    }
    &:hover
    {
      @include menu-zoom;
    }
}
.palette-block
   {
    @include grid-size($background:lighten($palette-color,65));
    width: $width;
   }
.palette
{
    @include menu-animation;
    &__title{
        background: -webkit-linear-gradient(left, $palette-color, $section-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Kaushan Script, Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    } 
    &__title2{ 
        @include home-menu-font($color:$palette-color)
    }
    &:hover{
        @include menu-zoom;
    }
}



