

.page-note
{
    &__title{
      font-size: map-get($font-size, big);
    }
    &__section{ 
      font-family: Kalam;
      color: $note-color-text;
      padding-top: 5rem;
      background-color: $note-color;
      @include section-size;
    }
}
.title-note{
    font-family: Devonshire;
    font-size: map-get($font-size, big);
}
p 
{ font-family: Devonshire;
  text-align: center;
  font-size: 2rem;
    & > i{
      background: -webkit-linear-gradient(left, #f04a5e, #f78f6a);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  } 
  .title-note__mini1{
    @include title__mini-size;
    padding-top: 4rem;
  }
  .title-note__mini{
    @include title__mini-size;
  }
.note-image-first-left{
    @include left-bar-size;
    margin-top: map-get($font-size, bigger);
}
.note-image-first-right{
    @include right-bar-size;
    margin-top: map-get($font-size, bigger);
    }

