/* code de la page html palette*/
.page-palette{
    &__title{
        font-size: map-get($font-size,big);
    }
    &__section{
        @include section-size;
        background-color: $section-background;
    }
}
.title-palette{
    font-family: Kaushan Script, Verdana, Geneva, Tahoma, sans-serif;
    font-size: map-get($font-size, big);
    background: -webkit-linear-gradient(left, $palette-color, $section-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kaushan Script, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.menupalette{
    font-family: Kalam, Verdana, Geneva, Tahoma, sans-serif;
}