$menu-zoom:
 (   transform: scale(1.5),
    opacity: 0.6,
);

$font-size:
    (regular: 1em,
    medium: 2em,
    big:3em,
    bigger: 4em);

   /* $gradient:
(background: -webkit-gradient(linear, left center, left bottom, from($first-delice-color), to($second-delice-color)),
-webkit-background-clip: text,
background-clip: text,
-webkit-text-fill-color: transparent);*/