/* tous les mixins*/ 
 @mixin grid-size($background: $note-color){   
    display: block;
    box-shadow: 3px 4px 6px 4px $shadow-color;
    cursor: pointer;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-decoration: none;
    height: 25rem;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    font-size: 2em;
    background-color: $background;
    width: $width + 15%;
    @media screen and (min-width: 768px) and (max-width:1024px){
        width: ($width * 2);
    }
    @media screen and (max-width: 768px){
        width: ($width * 3) - 15%;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding-top: 5rem;
        padding-bottom: 10rem;
        padding-left: 5rem;
        padding-right: 5rem;
        height: 10rem; 
        font-size: 1.2em;
        font-weight: bold;
    }
}
@mixin animation-point 
{    
    font-size: 2em;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: animpoint;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@mixin menu-animation 
{
    transform: scale(1);
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
}
@mixin home-menu-font($color:$note-color-text){
 font-family: Caveat, Verdana, Geneva, Tahoma, sans-serif;
 text-transform: uppercase;
 color: $color;
 font-size: 1.5em; 
 }
 @mixin shaking{
     animation-name: shake;
     animation-duration: 1000ms;
     animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
     animation-direction: alternate;
     animation-iteration-count: infinite;
     animation-fill-mode: both;
 }
 @mixin menu-zoom {
    transform: scale(1.5);
    opacity: 0.6;
 }
 @mixin page-size
 {
     width: 80%;
     margin: auto;
 }
 @mixin title__mini-size($color:$note-color-text) {
    font-size: map-get($font-size, medium +.5em);
    font-family: Caveat;
    font-style: italic;
    text-align: center;
    animation-duration: 1000ms;
    &::after{
        display: block;
        content:"";
        border-bottom: solid 4.5px $color;
        transform: scaleX(0);
        transition: transform 750ms ease-in;
        transform-origin: 0% 50%;
    }
    &:hover:after{
        transform: scaleX(1);
    }
 }
 @mixin left-bar-size{
    height: map-get($font-size,big);
    float: left;
    width: 20rem;
    }
 @mixin right-bar-size {
    height: map-get($font-size,big);
    float: right;
    width: 20rem;
 }
 @mixin section-size{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: map-get($font-size, big);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding-top: map-get($font-size, big + 2em);
    padding-bottom: map-get($font-size, medium);
    box-shadow: 3px 4px 6px 4px $shadow-color;
    @media screen and (min-width: 768px) and (max-width: 1024px){
        width: 95%;
    }
    @media screen and (max-width: 768px){
        width: 90%;
    }
 }
 @mixin chic-mini($color: $chic-color-first){
    font-family: Caveat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: $color;
 }
 @mixin gradient{
   /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }