$first-color: #009688;
$second-color:#ffc107;
$note-color:#ffcdd2;
$note-color-text: #4e342e;
$icon-color: #ec407a;
$chic-color-first: #e65100;
$chic-color-second: #311b92;
$chic-color-third: #9c27b0;
$shadow-color: #9e9e9e;
$first-delice-color:#3f51b5;
$second-delice-color: #03a9f4;
$palette-color: #2e7d32;
$section-background: #eeeeee;

$shake-intensity: 3%;
$width: 25%;

$font-size:
    (regular: 1em,
     reg: 1.5em,
    medium: 2em,
     med: 2.5em,
    big:3em,
    bigger:4em,);
