/*toutes les variables des couleurs*/
$first-color: #579c87;
$second-color: #fdcb46;
$note-color: #fcdfdb;
$note-color-text: #3c1218;
$icon-color: #f15861;
$chic-color-first: #c77412;
$chic-color-second: #905bfd;
$chic-color-third: #9c27b0;
$shadow-color: #9e9e9e;
$first-delice-color: #311b92;
$second-delice-color: #0887fb; 
$palette-color:  #42973c;
$section-background: #edefef;
$shake-intensity: 3%;
$width: 25%;
$font-size:
    (regular: 1em,
    reg: 1.5em,
    medium: 2em,
    med: 2.5em,
    big: 3em,
    bigger: 4em,);
